.navbar {
  background-color: #f8f8f8; /* Adjust the color to match your logo */
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  height: 45px; /* Adjust the height as needed */
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
}

#userName {
  margin-left: auto;
  margin-right: 10px; /* Adjust the margin as needed */
}

.mainTwoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.smaller-font {
  font-size: 20px;
}
#newButton1{
  width: 400px;
  height: 400px;
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
  background-color: #6abf6a; /* Adjusted shade of green */
  border-color: #6abf6a; /* Adjusted shade of green */
  color: #fff; /* Text color */

}
#newButton2 {
  width: 400px;
  height: 400px;
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
  background-color: #5e9fff; /* Adjusted shade of green */
  border-color: #5e9fff; /* Adjusted shade of green */
  color: #fff; /* Text color */
}

#newButton1:hover{
  background-color: #589c58; 
}
#newButton2:hover {
  background-color: #1d5cb6; 
  border-color: #1d5cb6; 
}


.webinfo {
  display: flex;
  padding: 10px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.webinfo .price {
  font-size: 16px;
  font-weight: 600;
}
.webinfo .title {
  font-size: 22px;
  font-weight: 700;
}
.webinfo .inspecTime {
  color: grey;
  font-size: 13px;
}
.webinfo .detail-name {
  font-size: 16px;
  font-weight: 600;
}
.webinfo .detail {
  white-space: pre-line;
  font-size: 14px;
  font-weight: 400;
}